# Auto detect text files and perform LF normalization
* text=auto

# Specific file types
*.py text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.md text eol=lf

# Ensure these files are never treated as text
*.png binary
*.jpg binary
*.gif binary
*.pdf binary
